* {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ff69b4;
}

/* Cambiando el tamaño de las imágenes */

.logo__img {
  height: 200px;
  width: 200px;
}

.navegador {
  background-image: url(Trabajo/Imagenes/design1_image1.jpg);
}

.navegador__navegador {
}
