/* Aca va el Index */

/* Aca va el main */

/* Aca va el header */
#logo {
  height: 200px;
  width: 200px;
}

/* Aca va el article */
#image_1 {
  height: 200px;
  width: 200px;
}

/* Aca va el about_MDHL */
#image_2 {
  height: 200px;
  width: 200px;
}

/* Aca va el Contact */

#image_3 {
  height: 200px;
  width: 200px;
}
