* {
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
}

header {
  min-height: 8vh;
  background-color: #ded9d6;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 10vw;
}

h1 {
  flex-grow: 1;
  font-size: 4rem;
  color: #252d35;
  text-shadow: 2px 2px #edece8;
}
nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  height: 4rem;
  width: 8rem;
  background-color: #dfafeba9;
  color: #252d35;
  text-decoration: none;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

main {
  min-height: 87vh;
  background-color: #726e5f;
  padding: 1rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #edece8;
  text-shadow: 2px 2px #dfafeba9;
  margin-bottom: 1rem;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin: 10px;
  width: 50rem;
}

section {
  color: #ded9d6;
}

.primer-parrafo {
  color: #ffffff;
  font-size: 30px;
}

.tabla {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
  border-collapse: collapse;
  max-width: 80vw;
  height: 80vh;
}

th {
  color: #ded9d6;
  border: 1px solid #ded9d6;
  justify-content: center;
  font-size: 2vw;
}

.descripciones {
  font-size: 1.2rem;
}

.eventos {
  font-size: 20px;
  padding: 1rem;
  margin: 5px;
}

.eventos__info {
  color: #ded9d6;
  font-weight: 900;
}

.eventos__actividad {
  color: #010102;
}

.titulo-2 {
  font-weight: bold;
  color: #010102;
  text-decoration: underline;
}

.descricion-2 {
  color: #afafc9;
}

.titulo {
  font-weight: bolder;
  color: #010102;
}
.rules {
  color: #ded9d6;
  font-weight: 800;
}

iframe {
  width: 40px;
  height: 40px;
}

form {
  font-size: 3vh;
  color: #ded9d6;
}

fieldset {
  padding: 20px;
  margin: 20px;
}
legend {
  text-align: center;
  font-weight: bolder;
  text-shadow: #dfafeba9;
  color: #010102;
}

.p {
  color: #010102;
}

.submit {
  display: flex;
  align-self: center;
}
